<h1 class="h1"><%= title %></h1>
<div>
    <dl>
        <dt>名前</dt>
        <dd>YSE 横浜</dd>
        <dt>出身地</dt>
        <dd>横浜</dd>
        <dt>趣味</dt>
        <dd>
            旅行 グルメ スポーツ
        </dd>
    </dl>
</div>