<form action="/auth" method="post">
  <div>
    <label>ログイン名</label>
    <input type="text" name="login_name">
  </div>

  <div>
    <label>パスワード</label>
    <input type="password" name="password">
  </div>

  <div>
    <button>Loigin</button>
  </div>
</form>